body {
  font-family: poppins;
  background: #272044;
  margin: 0;
}
section {
  max-width: 1170px;
  padding: 100px 100px 92px 100px;
}
header {
  background-image: linear-gradient(
      rgba(39, 32, 68, 0.6),
      rgba(39, 32, 68, 0.6)
    ),
    url("../images/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: #fff;
  padding: 260px 0;
}
header h1 {
  font-size: 96px;
  line-height: 144px;
  font-weight: 700;
  margin: 0;
}
header p {
  font-weight: 400;
  font-size: 40px;
  line-height: 60px;
  margin: 0;
}
header h3 {
  font-weight: 900;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 5px;
  margin: 0;
}
header button {
  padding: 16px 32px 16px 32px;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 3px;
  color: #272044;
  margin-top: 32px;
}
header button:hover {
  cursor: pointer;
}
@media (max-width: 000px) {
  header {
    padding: 60px 0;
  }
  header h1 {
    font-size: 48px;
  }
  header h3 {
    font-size: 12px;
  }
  header p {
    font-size: 20px;
  }
}
.grid {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  grid-gap: 64px;
}
footer {
  margin: 0;

  background-image: linear-gradient(
      rgba(39, 32, 68, 0.9),
      rgba(39, 32, 68, 0.9)
    ),
    url("../images/bg-2.png");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: #fff;
  text-align: left;
}
footer a,
p {
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  color: #fff;
  opacity: 0.6;
}

footer h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}
footer ul {
  padding: 0;
}
footer li {
  list-style: none;
}
#github {
  text-decoration: underline;
}
